*{
    margin: 0;
    padding: 0;
}
.header
{
    height: 1500px;
    width: "cover";
   background-image: linear-gradient(rgba(150, 182, 114, 0.7),rgba(201, 200, 135, 0.7)),url(background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(17, 158, 12);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: rgb(176, 207, 176);
  }
  .content
{
  
    
      margin-left: 5%;
      margin-top: 3%;
      font-size: 20px;
      width: 40%;
      font-style: italic;
      
    
  }
  
  
  .h1
  {
      text-align: center;
      font-style: italic;
      font-size: 25px;
  }
.hnd,.content
{


    width:50%;
    display: inline;
    height: 250px;
  
    
}
.content{
  padding-top: 10px;
}
.con{
  text-align: center;
}
.about-class{
	width: 100%;
	height: 150px;
}
.About-section{
	text-align: center;
	
}
.heading{
	color: #139139;
	font-size:40px;
}
.quote-1{
	color: #000000;
}
.about{
	width:40%;
	padding:2.5%;
	margin: 2.5%;
	height:300px;
	float: left;
	text-align: center;


}
.foot{
    background-image: linear-gradient(rgba(59, 71, 109, 0.7),rgba(199, 199, 183, 0.7)),url(manoj.jpg);
    width:100%;
    height: 220px;
    
  }
  .insta{
     margin-left:10%;
     margin-top: 10px;
     width:35px;
     height:35px;

  }
  .para{
      margin-left: 10%;
      margin-top: 10px;
      padding-right: 40px;
    
  }